@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yp9rwt');
  src:  url('fonts/icomoon.eot?yp9rwt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yp9rwt') format('truetype'),
    url('fonts/icomoon.woff?yp9rwt') format('woff'),
    url('fonts/icomoon.svg?yp9rwt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\f007";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-meter:before {
  content: "\e9a6";
}
