@media (max-width: 390px ) {

    .header_section{
        background-position: center;
    }

    .container{
        margin: 0 15px;
        padding: 0;
    }

    .header__burger_btn {
        display: block;
        margin-right: 20px;
    }
    
    .menu{
        position: absolute;
        left: -201px;
        top: 0;
        padding: 70px 20px 20px 20px;
        margin-left: 0;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(6.5px);
        transition: transform .5s;
    }

    .menu_link{
        padding: 10px 0;
    }

    .header-content.open .menu{
        transform: translateX(100%);
    }

    .header-line{
        display: none;
    }

    .header-content{
        border-top: none;
        margin-top: -18px;
        width: 390px;
    }

    .header_logo{
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding: 18px 70px 18px 70px;
    }

    .header_logo img{
        width: 100px;
    }

    .call_tel{
        display: block;
    }

    .header-text h3{
        font-size: 19px;
    }

    .button_text{
        margin-left: 25%;
    }

    .menu li{
        display: block;
    }

    .menu a{
        display: block;
        padding: 10px 0;
    }


    .main_top_inner{
        display: block;
    }

    .img-left img{
        width: 360px;
        height: 280px;
    }

    .text-left{
        font-size: 20px;
        padding: 20px 0 0 20px;
    }

    .more-info{
        top: 165px;
        left: 200px;
    }

    .img_frist{
        padding-left: 0;
    }

    .img_frist img{
        width: 360px;
        height: 280px;
    }

    .more-block{
        left: 210px;
        top: 192px;
    }


    .title{
        font-size: 20px;
    }

    .block{
        width: 180px;
        height: 25px;
    }

    .block p {
        font-size: 8px;
        padding: 0 0 0 80px;
        line-height: 10px;
    }

    .models{
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
    }


    .car_models_card{
        padding-top: 24px;
    }

    .car_models_card img{
        width: 150px;
    }

    .brand img{
        width: 75px;
    }

    .brand_name{
        font-size: 12px;
        left: 25px;
    }

    .mers{
        left: 0;
    }

    .mitsubi{
        left: 18px;
    }

    .slider_car{
        width: 324px;
        height: 250px;
    }

    .navigation{
        bottom: 8px;
    }

    .bar{
        width: 10px;
    }

    .title_buy{
        margin: 0;
        font-size: 20px;
        line-height: 29px;
        width: 350px;
    }

    .info_buy{
        width: 345px;
        height: 165px;
    }

    .block-2{
        padding: 20px 0px 40px 20px;
    }

    .block-5 {
        height: 245px;
        position: relative;
    }

    .button-text a{
        position: absolute;
        top: 186px;
        left: 45px;
    }


    .info_buy p{
        font-size: 12px;
        line-height: 16px;
    }

    .about_inner{
        background-position: center;
        min-width: 345px;
    }

    .about_blocks{
        display: block;
        padding-top: 120px;
    }

    .about-us{
        margin-top: 10px;
        transition: 0.5s;
    }

    .about-us h1{
        font-size: 20px;
        line-height: 26px;
    }

    .about_text{
        display: none;
    }

    .about-us:hover .about_text{
        display: block;
    }

    .footer_frist_inner{
        display: block;
    }

    .menu_lidt{
        display: none;
    }

    .frist_footer_right{
        margin-top: -65px;
    }

    .call_footer{
        right: 80px;
    }

    .call_footer h1{
        font-size: 20px;
    }

    .footer_icons{
        left: 252px;
        top: 40px;
    }
    
    .footer_btn{
        left: 16px;
        top: 95px;
        width: 312px;
        padding: 18px 90px;
    }

    .footer-info{
        margin-top: 110px;
    }

    .second_footer{
        margin-top: 230px;
        border-bottom:none;
    }

    .footer_second_inner{
        display: block;
    }

    .footer_block_left{
        justify-content: space-around;
        width: 365px;
    }

    .mini_card{
        width: 116.44px;
        height: 70px;
        padding: 6px 10px 0px 8px;
    }

    .informartions::before{
        font-size: 15px;
    }

    .mini_card h5{
        font-size: 6px;
    }

    .inform::after{
        top: 6px;
    }

    .footer_block_right{
        justify-content: space-around;
        margin-left: 0;
    }

    .min-card{
        width: 177px;
        height: 47px;
    }

    .footer_block_right .min-card{
        margin-left: 0;
    }


    /*Медиа запрос для втрой страницы */

    .logo_2{
        border-left:1px solid #989898;
        border-right: 1px solid #989898;
    }

    .h-content{
        border-bottom: 1px solid #989898
    }

    .rasult_name{
        width: 315px;
        font-size: 10px;
    }

    .search{
        margin-top: -60px;
    }

    .name_object h1{
        font-size: 20px;
        margin-top: -35px;
    }

    .slider_banner{
        display: block;
    }

    .slider_post ,
    .swiper-slide img{
        width: 360px;
    }

    .swiper-button-prev::after{
        top: 220px;
        left: 226px;
        font-size: 10px;
    }

    .swiper-button-next::after{
        top: 220px;
        right: 29px ;
        font-size: 10px;
    }

    .info_list{
        width: 360px;
    }

    .list_title{
        font-size: 16px;
        padding: 10px 0px 0px 10px;
    }

    .future_list_car{
        width: 355px;
    }

    .left_list,
    .right_list{
        font-size: 10px;
    }


    .Discription_car_block{
        margin-top: 50px;
        width: 360px;
    }

    .table{
        width: 180px;
    }

    .tb-l,
    .tb_k{
        border-right: none;
    }

    .tb_k{
        border-left: 1px solid #D9D9D9;
    }

    .tb_r{
        border-top: 1px solid #D9D9D9;
    }

    .list_button{
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .list_button a{
        padding: 20px 145px 20px 145px;
    }

    #more{
        display: none;
    }

    #dots,
    #btn{
    display: block;
}

    #btn{
        border: none;
        margin-top: 5px;
        background: transparent;
        text-transform: uppercase;
        font-weight: 600;
    }

    #btn:hover{
        text-decoration: underline;
    }

    .c-ritgh{
        display: block;
    }
   
}